PROJECT_NAME=bigdata

PYTHONPATH=bigdata_api/src:

KAFKA_DB=kafka
KAFKA_HOST=broker
KAFKA_PORT=29092

BIGDATASPI_HOST=http://bigdata-api
BIGDATASPI_PORT=8001
BASE_URL=/bigdata-api/v1

AUTH_HOST=http://auth
AUTH_PORT=80
AUTH_BASE_URL=/auth-api/v1
ENABLE_AUTHORIZATION=0

LOGSTASH_HOST=logstash
LOGSTASH_PORT=5044


KAFKA_HOST_TEST=kafka
KAFKA_PORT_TEST=9192
